[submodule "antigen"]
	path = antigen/.antigen
	url = https://github.com/zsh-users/antigen
[submodule "zsh-grml-config/.config/grml-etc-core"]
	path = zsh-grml-config/.config/grml-etc-core
	url = https://github.com/grml/grml-etc-core.git
